#sidebar{
	background-color: #FFF;
}
.sidebar-content, .sidebar-nav a{
	color: #888;
}

.sidebar-nav a:hover,
.sidebar-nav a:hover > .sidebar-nav-icon,
.sidebar-nav a:hover > .sidebar-nav-indicator,
.sidebar-nav a.active,
.sidebar-nav a.active > .sidebar-nav-icon,
.sidebar-nav a.active > .sidebar-nav-indicator,
.sidebar-nav a.open,
.sidebar-nav a.open > .sidebar-nav-icon,
.sidebar-nav a.open > .sidebar-nav-indicator,
.sidebar-nav li.active > a,
.sidebar-nav li.active > a > .sidebar-nav-icon,
.sidebar-nav li.active > a > .sidebar-nav-indicator{
	color: #000;
}

header{
	height: 50px;
}

.brand-logo img{
	width: 100%;
}

.content-header{
	margin-top: -30px;
}
.nav.navbar-nav-custom > li > a > img {
	margin-top: -3px;
}

.btn-add-new{
	text-align: right;
	margin-bottom: 15px;
}

.btn-add-new > a > i {
	margin-right: 10px;
	font-size: 12px;
}
.table thead > tr > th{
	font-size: 14px;
	text-align: center;
}
@media screen and (min-width: 768px){
	.content-header{
		margin-top: -40px;
	}
}